@model List<WebProje.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (TempData["Teacher"] != null)
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
    swal("Başarılı","@Html.Raw(TempData["Teacher"])","success");
    </script>
}

<main class="col-md-9 bg-gradient-dark ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Öğretmenler</h1>
    </div>
    <div class="table-responsive">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Veri Tablosu</li>
                    </ol>
                </div>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-12">

                            <!-- /.card -->
                            <div class="card">
                                <div class="card-header">
                                    @Html.ActionLink("Öğretmen Ekle", "Yeni", null, new { @class = "btn btn-primary mx-4" })
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Resim</th>
                                                <th>Ad Soyad</th>
                                                <th>Barnş</th>
                                                <th>Güncelle</th>
                                                <th>Sil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var teacher in Model)
                                            {
                                                <tr>
                                                    <td><img src="~/Content/Core/images/@teacher.TeacherImage" width="150" /></td>
                                                    <td>@teacher.TeacherFullName</td>
                                                    <td>@teacher.TeacherProfession</td>
                                                    <td>@Html.ActionLink("Güncelle", "Guncelle", new { teacher.Id }, new { @class = "btn btn-info mx-4" })</td>
                                                    <td>
                                                        @Html.ActionLink("Sil", "Sil", new { teacher.Id }, new { @class = "btn btn-danger" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->

            </div>
        </div>
    </div>
</main>




<!-- Content Wrapper. Contains page content -->
