@model WebProje.Models.Teacher

@{
    ViewBag.Title = "TeacherUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="content-wrapper">
    <div class="container">
        @using (Html.BeginForm("Kaydet", "Teacher", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <table class="table table-hover bg-white">
                <tr>
                    <td>Resim</td>
                    <td>
                        @if (Model.TeacherImage != null)
                        {
                            <img src="~/Content/images/@Model.TeacherImage" width="250" />
                        }
                        @Html.TextBoxFor(m => m.imgFile, new { type = "file" })
                        @if (ViewBag.HataFoto != null)
                        {
                            <span class="field-validation-error" data-valmsg-for="fotoFile" data-valmsg-replace="true">@ViewBag.HataFoto</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Ad Soyad</td>
                    <td>
                        @Html.TextAreaFor(m => m.TeacherFullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TeacherFullName)
                    </td>
                </tr>

                <tr>
                    <td>Ad Soyad</td>
                    <td>
                        @Html.TextAreaFor(m => m.TeacherProfession, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TeacherProfession)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.HiddenFor(m => m.TeacherImage)
                        @Html.HiddenFor(m => m.Id)
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </td>
                </tr>

            </table>
        }

    </div>

</div>


